black==23.7.0
loguru==0.7.0
pre-commit==3.3.3
psutil==5.9.5
pydantic==2.1.1
PyJWT==2.8.0
python-dotenv==1.0.0
python-telegram-bot==20.4
quart==0.18.4
tortoise-orm[asyncmy]==0.19.3
apscheduler==3.10.1
expiringdict==1.2.2
pydantic-settings==2.0.2
beautifulsoup4==4.12.2
Pillow==10.0.0
pycryptodome==3.18.0
